@media only screen and (max-width: 1440px) {
  .container {
    .container3 {
      flex-direction: column;
      width: 100%;
      .container2 {
        width: 100%;
      } //container2 end
    } //container3 end
  } // container end
}


@media only screen and (max-width: 1200px) {
  .container {
    .container3 {
      flex-direction: column;
      width: 100%;
      .container2 {
        width: 100%;
      } //container2 end
    } //container3 end
  } // container end
}
@media only screen and (min-width: 850px) and (max-width: 1164px) {
  .container {
    .section2 {
      flex-direction: column;
    }
  } //container end
}
@media only screen and (min-width: 768px) and (max-width: 849px) {
  .container {
    .navbar {
      ul {
        overflow: scroll;
        li a{
          
              padding-right: 10px;
          
       } //li a end
      } //ul end
    } //navbar end
    .section2 {
      flex-direction: column;
    }
    .container3 {
      .container2 {
        .section3 {
          flex-direction: column-reverse;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section3 end
        .section4 {
          flex-direction: column;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section4 end
        .section5 {
          flex-direction: column-reverse;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section5 end
        .section6 {
          flex-direction: column;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section6 end
      } //container2 end
    } //container3 end
  } //container end
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    .navbar {
      ul {
        overflow: scroll;
        li a{
          
              padding-right: 10px;
          
       } //li a end
      } //ul end
    } //navbar end
    .section2 {
      flex-direction: column;
    }
    .container3 {
      .container2 {
        .section3 {
          flex-direction: column-reverse;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section3 end
        .section4 {
          flex-direction: column;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section4 end
        .section5 {
          flex-direction: column-reverse;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section5 end
        .section6 {
          flex-direction: column;
          .image {
            height: 200px;
            width: 100%;
          }
        } //section6 end
      } //container2 end
    } //container3 end
  } //container end
}
@media only screen and (min-width: 400px) and (max-width: 575px) {
  .container {
    .head {
      .neo {
        font-size: 14px;
      }
      .large {
        font-size: 40px;
      }
      .sign {
        .img {
          width: 18px;
          height: 16px;
        }
        .button {
          font-size: 12px;
        }
      } //sign end
    } //head end
    .grad {
      .grad-effect {
        .title {
          font-size: 30px;
        }
        .line {
          font-size: 15px;
        }
        .continue {
          font-size: 15px;
        }
      } //grad effect end
    } // grad end
    .navbar {
      ul {
        overflow: scroll;
        li a{
          
              padding-right: 10px;
          
       } //li a end
      } //ul end
    } //navbar end
    .section2 {
      flex-direction: column;

      .card1flex {
        flex-direction: column-reverse;
        .image {
          width: 100%;
        }
      } //card1flex end
      .card2flex {
        flex-direction: column-reverse;

        .image {
          width: 100%;
        }
      } //card2flex end
    } //section2 end
    .container3 {
      .container2 {
        .section3 {
          flex-direction: column-reverse;
          .image {
            height: 200px;
            width: 100%;
          }
        }
        .section4 {
          flex-direction: column;
          .image {
            height: 200px;
            width: 100%;
          }
        }
        .section5 {
          flex-direction: column-reverse;
          .image {
            height: 200px;
            width: 100%;
          }
        }
        .section6 {
          flex-direction: column;
          .image {
            height: 200px;
            width: 100%;
          }
        }
      } //container2 end
    } //container3 end
  } //container end
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
  .container {
    .navbar {
      ul {
        overflow: scroll;
        li a{
          
              padding-right: 10px;
          
       } //li a end
      } //ul end
    } //navbar end
    .head {
      .neo {
        font-size: 14px;
      }
      .large {
        font-size: 40px;
      }
      .sign {
        .img {
          width: 15px;
          height: 15px;
        }
        .button {
          font-size: 12px;
        }
      } //sign end
    } //head end
    .grad {
      .grad-effect {
        .title {
          font-size: 30px;
          margin-left: 20px;
        }
        .line {
          font-size: 15px;
          margin-left: 20px;
        }
        .continue {
          font-size: 15px;
          margin-left: 20px;
        }
      } //grad effect end
    } // grad end
    .section2 {
      flex-direction: column;
      .card1flex {
        flex-direction: column-reverse;
        .image {
          width: 100%;
        }
      } //card1flex end
      .card2flex {
        flex-direction: column-reverse;
        .image {
          width: 100%;
        }
      } //card2flex end
    } //section2 end
    .container3 {
      .container2 {
        .section3 {
          flex-direction: column-reverse;
          .image {
            width: 100%;
          }
        } //section3 end
        .section4 {
          flex-direction: column;
          .image {
            width: 100%;
          }
        }
        .section5 {
          flex-direction: column-reverse;
          .image {
            width: 100%;
          }
        }
        .section6 {
          flex-direction: column;
          .image {
            width: 100%;
          }
        }
      } //container2 end
    } //container3 end
  } //container end
}
