@media only screen and (max-width: 1440px) {
  .container .container3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container .container3 .container2 {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .container .container3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container .container3 .container2 {
    width: 100%;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1164px) {
  .container .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 849px) {
  .container .navbar ul {
    overflow: scroll;
  }
  .container .navbar ul li a {
    padding-right: 10px;
  }
  .container .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section3 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section4 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section5 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section6 .image {
    height: 200px;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container .navbar ul {
    overflow: scroll;
  }
  .container .navbar ul li a {
    padding-right: 10px;
  }
  .container .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section3 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section4 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section5 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section6 .image {
    height: 200px;
    width: 100%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
  .container .head .neo {
    font-size: 14px;
  }
  .container .head .large {
    font-size: 40px;
  }
  .container .head .sign .img {
    width: 18px;
    height: 16px;
  }
  .container .head .sign .button {
    font-size: 12px;
  }
  .container .grad .grad-effect .title {
    font-size: 30px;
  }
  .container .grad .grad-effect .line {
    font-size: 15px;
  }
  .container .grad .grad-effect .continue {
    font-size: 15px;
  }
  .container .navbar ul {
    overflow: scroll;
  }
  .container .navbar ul li a {
    padding-right: 10px;
  }
  .container .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section2 .card1flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section2 .card1flex .image {
    width: 100%;
  }
  .container .section2 .card2flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section2 .card2flex .image {
    width: 100%;
  }
  .container .container3 .container2 .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section3 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section4 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section5 .image {
    height: 200px;
    width: 100%;
  }
  .container .container3 .container2 .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section6 .image {
    height: 200px;
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
  .container .navbar ul {
    overflow: scroll;
  }
  .container .navbar ul li a {
    padding-right: 10px;
  }
  .container .head .neo {
    font-size: 14px;
  }
  .container .head .large {
    font-size: 40px;
  }
  .container .head .sign .img {
    width: 15px;
    height: 15px;
  }
  .container .head .sign .button {
    font-size: 12px;
  }
  .container .grad .grad-effect .title {
    font-size: 30px;
    margin-left: 20px;
  }
  .container .grad .grad-effect .line {
    font-size: 15px;
    margin-left: 20px;
  }
  .container .grad .grad-effect .continue {
    font-size: 15px;
    margin-left: 20px;
  }
  .container .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section2 .card1flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section2 .card1flex .image {
    width: 100%;
  }
  .container .section2 .card2flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section2 .card2flex .image {
    width: 100%;
  }
  .container .container3 .container2 .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section3 .image {
    width: 100%;
  }
  .container .container3 .container2 .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section4 .image {
    width: 100%;
  }
  .container .container3 .container2 .section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .container3 .container2 .section5 .image {
    width: 100%;
  }
  .container .container3 .container2 .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .container3 .container2 .section6 .image {
    width: 100%;
  }
}
/*# sourceMappingURL=mobile.css.map */