@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@400;500;700&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  //padding: 0 10px;
  margin: 0 auto;
  width: 80vw;

  //background-color: lightcyan;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $borderbottom;

    .neo {
      color: $blue;
      font-style: normal;
      font-weight: bold;
      font-size: $font-16;
      line-height: 19px;
      font-family: Roboto;
    }

    .large {
      color: #353a3f;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 67px;
      font-family: Playfair Display;
    }
    .sign{
      display: flex;
     align-items:center;
    // justify-content: space-between;

      
    }
    .button {
      color: #6e757c;
      font-size: $font-15;
      border: 1px solid #6e757c;
      border-radius: 3px;
      background-color: #ffffff;
      padding: 10px;
      font-family: Roboto;
      &:hover {
        cursor: pointer;
      }
    }
  } //head end
  .navbar {
    &:hover {
      cursor: pointer;
    }
    ul {
      list-style-type: none;
      li a {
        text-decoration: none;
        font-family: Roboto;
        font-size: $font-16;
        text-align: center;
        color: #6e757c;
      }
      display: flex;
     // flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
  } //navbar end
  .grad {
    
    height: 350px;
    background-image: url("./assets/Rectangle\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    //position: center;

    .grad-effect {
      width: inherit;
      height: inherit;
      background: linear-gradient(
        89.76deg,
        #353a3f 34.79%,
        rgba(53, 58, 63, 0.17) 96.59%
      );

      .title {
        color: #ffffff;
        font-family: Playfair Display;
        font-size: $font-50;
        font-weight: bold;
        margin-left: 49px;
        padding-top: 30px;
      } //title end
      .line {
        color: #ffffff;
        font-family: Roboto;
        font-size: $font-20;
        font-weight: normal;
        margin-left: 49px;
        margin-top: 20px;
        line-height: 140%;
      }
      .continue {
        color: #ffffff;
        font-size: $font-20;
        font-family: Roboto;
        font-weight: bold;
        margin-left: 49px;
        margin-top: 20px;
        margin-bottom: 48px;
        line-height: 140%;
      } //continue end
    } //grad-effect
  } //grad end

  .section2 {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
   // align-items: center;
    width: 100%;
    gap: 1rem;
    //background-color: red;
    padding-top: 19px;
    .card1flex {
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: row;
       gap: 2%;
      width: 100%;
      background: #ffffff;
        border: 1px solid #e5e5e5;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
    
      
      //padding: 1%;
      //position: relative;
     // background-color: lightcoral;

      .card1 {
        //height: 200px;
        //width: inherit;

        //position: relative;
        //background-color: lightgreen;
        
        .world {
          font-family: Roboto;
          color: #367bf6;
          font-weight: 900;
          margin-top: 33px;
          margin-left: 23px;
        }
        .featured {
          font-family: Playfair Display;
          font-style: normal;
          font-weight: 500px;
          font-size: $font-30;
          line-height: 140%;
          margin-left: 23px;
          color: #35343f;
        }
        .nov12 {
          font-family: Roboto;
          font-weight: 500;
          font-size: $font-16;
          line-height: 140%;
          color: #6e757c;
          margin-left: 23px;
        }
        .t1 {
          font-family: Roboto;
          font-size: $font-16;
          line-height: 140%;
          margin-left: 23px;
        }
        .cont {
          color: #367bf6;
          font-family: Roboto;
          line-height: 140%;
          font-size: $font-16;
          margin-left: 23px;
          margin-top: 20px;
          padding-bottom: 20px;
        }
      } //card1 end
      .image {
        // width: 35%;
        height: 100%;
        //position: absolute;
        right: 0%;
        top: 0%;
      }
    } //card1flex end

    .card2flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      //position: relative;
      width: 100%;
      gap: 2%;
      background: #ffffff;
        border: 1px solid #e5e5e5;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
      .card2 {
        //height: 200px;

        // background-color:lightgrey;
        
        .world {
          font-family: Roboto;
          color: #56a451;
          margin-top: 33px;
          margin-left: 23px;
          font-weight: 900;
        }
        .featured {
          font-family: Playfair Display;
          font-style: normal;
          font-weight: 500px;
          font-size: $font-30;
          line-height: 140%;
          margin-left: 23px;
          color: #35343f;
        }
        .nov12 {
          font-family: Roboto;
          font-weight: 500;
          font-size: $font-16;
          line-height: 140%;
          color: #6e757c;
          margin-left: 23px;
        }
        .t1 {
          font-family: Roboto;
          font-size: $font-16;
          line-height: 140%;
          margin-left: 23px;
        }
        .cont {
          color: #367bf6;
          font-family: Roboto;
          line-height: 140%;
          font-size: $font-16;
          margin-left: 23px;
          margin-top: 20px;
          padding-bottom: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      } //card2 end
      .image {
        //width: 35%;
        height: 100%;
       // position: absolute;
        right: 0;
        top: 0;
       
      } // image end
    } //card2flex end
  } //section2 end
  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;

    .container2 {
     
      width: 65vw;

      .firehose {
        font-family: Playfair Display;
        font-weight: bold;
        font-size: $font-26;
        line-height: 114.5%;

        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 2%;
        padding-top: 2.5%;
      }
      .section3 {
        //width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 2%;
        gap: 10%;
        //padding-top: 2%;

        .card-i {
          .first {
            font-family: Playfair Display;
            font-weight: bold;
            font-size: $font-30;
            line-height: 120%;
            //padding-top: 2%;
            color: #353a3f;
          }
          .lines {
            font-family: Roboto;
            font-size: $font-16;
            line-height: 150%;
            padding-top: 3%;
            color: #222529;
          }
          .read {
            font-family: Roboto;
            font-weight: 500;
            font-size: $font-16;
            line-height: 140%;
            color: #367bf6;
          }
        } //card-i end
      } //section3 end
      .section4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 2%;
        padding-top: 2%;
        gap: 10%;

        .card-ii {
          .first {
            font-family: Playfair Display;
            font-weight: bold;
            font-size: $font-30;
            line-height: 120%;
            padding-top: 2%;
            color: #353a3f;
          }
          .lines {
            font-family: Roboto;
            font-size: $font-16;
            line-height: 150%;
            padding-top: 3%;
            color: #222529;
          }
          .read {
            font-family: Roboto;
            font-weight: 500;
            font-size: $font-16;
            line-height: 140%;
            color: #367bf6;
          }
        } //card-ii end
      } //section4 end
      .section5 {
         display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 2%;
        padding-top: 2%;
        gap: 10%;
        .card-iii {
          .first {
            font-family: Playfair Display;
            font-weight: bold;
            font-size: $font-30;
            line-height: 120%;
            padding-top: 2%;
            color: #353a3f;
          }
          .lines {
            font-family: Roboto;
            font-size: $font-16;
            line-height: 150%;
            padding-top: 3%;
            color: #222529;
          }
          .read {
            font-family: Roboto;
            font-weight: 500;
            font-size: $font-16;
            line-height: 140%;
            color: #367bf6;
          }
        } //card-iiiend
      } //section5 end
      .section6 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10%;
        padding-bottom: 2%;
        padding-top: 2%;

        .card-iv {
          .first {
            font-family: Playfair Display;
            font-weight: bold;
            font-size: $font-30;
            line-height: 120%;
            padding-top: 2%;
            color: #353a3f;
          }
          .lines {
            font-family: Roboto;
            font-size: $font-16;
            line-height: 150%;
            padding-top: 3%;
            color: #222529;
          }
          .read {
            font-family: Roboto;
            font-weight: 500;
            font-size: $font-16;
            line-height: 140%;
            color: #367bf6;
          }
        } //card-iv end
      } //section6 end
      .buttons {
        .b1 {
          font-family: Roboto;
          font-weight: normal;
          font-size: $font-15;
          line-height: 18px;
          text-align: center;
          color: $blue;
          background: #ffffff;
          border: 1px solid $blue;
          border-radius: 100px;
          padding: 1% 2%;
          &:hover {
            cursor: pointer;
          }
        } //b1 end
        .b2 {
          font-family: Roboto;
          font-weight: normal;
          font-size: $font-15;
          line-height: 18px;
          text-align: center;
          color: #6e757c;
          background: #ffffff;
          border: 1px solid #70777e;
          border-radius: 100px;
          padding: 1% 2%;
          &:hover {
            cursor: pointer;
          }
        } //b2 end
      } //buttons end
    } //container2 end

    .aside {
      padding: 2%;
      //width: 20vw;
      // position: sticky;
      // top: 1rem;
      // scroll-behavior: smooth;
      //background-color: lightpink;
      .text1 {
        background-color: #f8f9fa;

        .about {
         
          font-family: Playfair Display;
          font-weight: bold;
          font-size: $font-26;
          line-height: 114.5%;
          color: #222529;
          padding-top: 5%;
          //padding-right: 5%;
          padding-left: 4%;
        }
        .a1 {
        
          font-family: Roboto;
          font-size: $font-16;
          line-height: 140%;
          //padding: 5%;
          color: #222529;
          padding-left: 4%;
        }
      } //text1 end
      .arch {
        font-family: Playfair Display;
        font-weight: bold;
        font-size: $font-26;
        line-height: 114.5%;
        color: #222529;
      }
      .months {
        display: flex;
        flex-direction: column;
        font-family: Roboto;
        font-weight: 500;
        font-size: $font-16;
        line-height: 180%;
        color: #367bf6;
      } //months end
    } //aside end
  } //container3 end
  
} //container end
.foot {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  .blog {
    font-family: Roboto;
    font-size: $font-16;
    line-height: 19px;
    color: #222529;
    font-weight: normal;
  }
  .back {
    font-family: Roboto;
    font-size: $font-16;
    line-height: 19px;
    color: #367bf6;
    font-weight: normal;
  }
} //foot end
