@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

.container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.container .head .neo {
  color: #367bf6;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
}

.container .head .large {
  color: #353a3f;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  font-family: Playfair Display;
}

.container .head .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .head .button {
  color: #6e757c;
  font-size: 15px;
  border: 1px solid #6e757c;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 10px;
  font-family: Roboto;
}

.container .head .button:hover {
  cursor: pointer;
}

.container .navbar:hover {
  cursor: pointer;
}

.container .navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container .navbar ul li a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  color: #6e757c;
}

.container .grad {
  height: 350px;
  background-image: url("./assets/Rectangle 14.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}

.container .grad .grad-effect {
  width: inherit;
  height: inherit;
  background: linear-gradient(89.76deg, #353a3f 34.79%, rgba(53, 58, 63, 0.17) 96.59%);
}

.container .grad .grad-effect .title {
  color: #ffffff;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: bold;
  margin-left: 49px;
  padding-top: 30px;
}

.container .grad .grad-effect .line {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  margin-left: 49px;
  margin-top: 20px;
  line-height: 140%;
}

.container .grad .grad-effect .continue {
  color: #ffffff;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  margin-left: 49px;
  margin-top: 20px;
  margin-bottom: 48px;
  line-height: 140%;
}

.container .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 1rem;
  padding-top: 19px;
}

.container .section2 .card1flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.container .section2 .card1flex .card1 .world {
  font-family: Roboto;
  color: #367bf6;
  font-weight: 900;
  margin-top: 33px;
  margin-left: 23px;
}

.container .section2 .card1flex .card1 .featured {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 500px;
  font-size: 30px;
  line-height: 140%;
  margin-left: 23px;
  color: #35343f;
}

.container .section2 .card1flex .card1 .nov12 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #6e757c;
  margin-left: 23px;
}

.container .section2 .card1flex .card1 .t1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 140%;
  margin-left: 23px;
}

.container .section2 .card1flex .card1 .cont {
  color: #367bf6;
  font-family: Roboto;
  line-height: 140%;
  font-size: 16px;
  margin-left: 23px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.container .section2 .card1flex .image {
  height: 100%;
  right: 0%;
  top: 0%;
}

.container .section2 .card2flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 2%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.container .section2 .card2flex .card2 .world {
  font-family: Roboto;
  color: #56a451;
  margin-top: 33px;
  margin-left: 23px;
  font-weight: 900;
}

.container .section2 .card2flex .card2 .featured {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 500px;
  font-size: 30px;
  line-height: 140%;
  margin-left: 23px;
  color: #35343f;
}

.container .section2 .card2flex .card2 .nov12 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #6e757c;
  margin-left: 23px;
}

.container .section2 .card2flex .card2 .t1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 140%;
  margin-left: 23px;
}

.container .section2 .card2flex .card2 .cont {
  color: #367bf6;
  font-family: Roboto;
  line-height: 140%;
  font-size: 16px;
  margin-left: 23px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.container .section2 .card2flex .card2 .cont:hover {
  cursor: pointer;
}

.container .section2 .card2flex .image {
  height: 100%;
  right: 0;
  top: 0;
}

.container .container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
}

.container .container3 .container2 {
  width: 65vw;
}

.container .container3 .container2 .firehose {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2%;
  padding-top: 2.5%;
}

.container .container3 .container2 .section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2%;
  gap: 10%;
}

.container .container3 .container2 .section3 .card-i .first {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #353a3f;
}

.container .container3 .container2 .section3 .card-i .lines {
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  padding-top: 3%;
  color: #222529;
}

.container .container3 .container2 .section3 .card-i .read {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
}

.container .container3 .container2 .section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2%;
  padding-top: 2%;
  gap: 10%;
}

.container .container3 .container2 .section4 .card-ii .first {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  padding-top: 2%;
  color: #353a3f;
}

.container .container3 .container2 .section4 .card-ii .lines {
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  padding-top: 3%;
  color: #222529;
}

.container .container3 .container2 .section4 .card-ii .read {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
}

.container .container3 .container2 .section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2%;
  padding-top: 2%;
  gap: 10%;
}

.container .container3 .container2 .section5 .card-iii .first {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  padding-top: 2%;
  color: #353a3f;
}

.container .container3 .container2 .section5 .card-iii .lines {
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  padding-top: 3%;
  color: #222529;
}

.container .container3 .container2 .section5 .card-iii .read {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
}

.container .container3 .container2 .section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.container .container3 .container2 .section6 .card-iv .first {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  padding-top: 2%;
  color: #353a3f;
}

.container .container3 .container2 .section6 .card-iv .lines {
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  padding-top: 3%;
  color: #222529;
}

.container .container3 .container2 .section6 .card-iv .read {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
}

.container .container3 .container2 .buttons .b1 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #367bf6;
  background: #ffffff;
  border: 1px solid #367bf6;
  border-radius: 100px;
  padding: 1% 2%;
}

.container .container3 .container2 .buttons .b1:hover {
  cursor: pointer;
}

.container .container3 .container2 .buttons .b2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #6e757c;
  background: #ffffff;
  border: 1px solid #70777e;
  border-radius: 100px;
  padding: 1% 2%;
}

.container .container3 .container2 .buttons .b2:hover {
  cursor: pointer;
}

.container .container3 .aside {
  padding: 2%;
}

.container .container3 .aside .text1 {
  background-color: #f8f9fa;
}

.container .container3 .aside .text1 .about {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  color: #222529;
  padding-top: 5%;
  padding-left: 4%;
}

.container .container3 .aside .text1 .a1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 140%;
  color: #222529;
  padding-left: 4%;
}

.container .container3 .aside .arch {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  color: #222529;
}

.container .container3 .aside .months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #367bf6;
}

.foot {
  width: 100%;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.foot .blog {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #222529;
  font-weight: normal;
}

.foot .back {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #367bf6;
  font-weight: normal;
}
/*# sourceMappingURL=styles.css.map */